<div class="logos" role="region" aria-label="Logos de nos partenaires">
  <div class="logos__piste">
    <div class="logos__groupe">
      <a href="https://www.coevrons.fr/" target="_blank" rel="noopener"><img src="assets/img/partenaires/coevrons.svg" alt="Communauté de communes des Coëvrons" width="192" height="45" loading="lazy"></a>
      <a href="https://www.lamayenne.fr/" target="_blank" rel="noopener"><img src="assets/img/partenaires/mayenne.png" alt="La Mayenne, le Département" width="400" height="252" loading="lazy"></a>
      <a href="https://www.coevrons-tourisme.com/" target="_blank" rel="noopener"><img src="assets/img/partenaires/office-tourisme-sainte-suzanne.png" alt="Office de tourisme Sainte-Suzanne les Coëvrons" width="270" height="270" loading="lazy"></a>
      <a href="https://www.coevrons.fr/" target="_blank" rel="noopener" tabindex="-1" aria-hidden="true"><img src="assets/img/partenaires/coevrons.svg" alt="" width="192" height="45" loading="lazy"></a>
      <a href="https://www.lamayenne.fr/" target="_blank" rel="noopener" tabindex="-1" aria-hidden="true"><img src="assets/img/partenaires/mayenne.png" alt="" width="400" height="252" loading="lazy"></a>
      <a href="https://www.coevrons-tourisme.com/" target="_blank" rel="noopener" tabindex="-1" aria-hidden="true"><img src="assets/img/partenaires/office-tourisme-sainte-suzanne.png" alt="" width="270" height="270" loading="lazy"></a>
    </div>
    <div class="logos__groupe" aria-hidden="true">
      <a href="https://www.coevrons.fr/" tabindex="-1"><img src="assets/img/partenaires/coevrons.svg" alt="" width="192" height="45" loading="lazy"></a>
      <a href="https://www.lamayenne.fr/" tabindex="-1"><img src="assets/img/partenaires/mayenne.png" alt="" width="400" height="252" loading="lazy"></a>
      <a href="https://www.coevrons-tourisme.com/" tabindex="-1"><img src="assets/img/partenaires/office-tourisme-sainte-suzanne.png" alt="" width="270" height="270" loading="lazy"></a>
      <a href="https://www.coevrons.fr/" tabindex="-1"><img src="assets/img/partenaires/coevrons.svg" alt="" width="192" height="45" loading="lazy"></a>
      <a href="https://www.lamayenne.fr/" tabindex="-1"><img src="assets/img/partenaires/mayenne.png" alt="" width="400" height="252" loading="lazy"></a>
      <a href="https://www.coevrons-tourisme.com/" tabindex="-1"><img src="assets/img/partenaires/office-tourisme-sainte-suzanne.png" alt="" width="270" height="270" loading="lazy"></a>
    </div>
  </div>
</div>
